body {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}

header {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 72px;
  max-width: calc(95% - 16rem);
  margin: 0 auto;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

.head {
  text-align: center;
  position: relative;
}

.headerobjectswrapper {
  position: relative;
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
}

.controls, .weatherforcastbox {
  position: absolute;
  bottom: 0;
}

#sort, .weatherforcastbox {
  border: 3px double;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
}

.controls {
  right: 1rem;
}

.weatherforcastbox {
  left: 1rem;
}

#sort {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  background: #f9f7f1;
  color: #2f2f2f;
  border-radius: 0;
}

.content {
  font-size: 0;
  line-height: 0;
  word-spacing: -.31em;
  display: inline-block;
  margin: 30px 2% 0 2%;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.column {
  font-size: 14px;
  line-height: 20px;
  width: calc(20% - 1px);
  vertical-align: top;
  margin-bottom: 50px;
  border-left: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
}

.column:first-child {
  border-left: none;
}

.column:last-child {
  border-right: none;
}

.column + .column {
  margin-left: -1px;
}

.column .headline {
  text-align: center;
  line-height: normal;
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 0 auto;
}

.column .headline.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.column .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.column .citation {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  font-weight: 400;
  display: block;
  margin: 40px 0 40px 0;
  font-feature-settings: "liga", "dlig";
}

.column .citation:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
.column .citation:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}

.column .figure {
  margin: 0 0 20px;
}

.column .figcaption {
  font-style: italic;
  font-size: 12px;
}

.media {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
  width: 100%;
}

@media only all and (max-width: 1350px) {
  .column {
    width: calc(25% - 1px);
  }
}

@media only all and (max-width: 1200px) {
  .column {
    width: calc(33% - 1px);
  }
}

@media only all and (max-width: 900px) {
  .column {
    width: calc(50% - 1px);
  }
}

@media only all and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .column + .column {
    border-left: none;
    border-bottom: 1px solid #2f2f2f;
  }

  header {
    font-size: 60px;
    line-height: 54px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 20px;
    max-width: calc(100% - 6rem);
    text-align: left;
  }

  .controls {
    top: 1rem;
    bottom: initial;
  }

  .weatherforcastbox {
    display: none;
  }
}

article {
  padding: 0 1em;
}

article + article {
  margin-top: 1em;
}
